@charset "UTF-8";

:root{
--main-font: "Noto Sans KR", sans-serif;
--sub-font: "Noto Serif KR", serif;
--main-color: #c27a34;  /* rgb(194,122,52) */
}

body { font-family: var(--main-font); font-size: 1.6rem; line-height: 1.5; color: #000; }
.inner { max-width: 1640px; margin: 0 auto; padding: 0 20px; }


/* header  */
#header {transition: all 0.5s; color: #fff; position: absolute; left: 0; top: 0; width: 100%; z-index: 3; }
#header .inner { max-width: 1740px; display: flex;justify-content: space-between; align-items: center; }
#header h1 a { display: block; font-size: 0; width: 100px; height: 58px; background: url(../images/common/logo_w.png) no-repeat center / 100%; }

#header nav { margin: 0 auto 0 50px; font-family: var(--sub-font);}
#header .gnb { display: flex; }
#header .gnb > li > a { display: block; font-size: 2rem; padding: 30px 40px; }


#header .util { display: flex; align-items: center; gap: 30px;}
#header .util .btn_ham {font-size: 0; width: 35px; height: 20px; background: url(../images/common/ham_w.png); }
#header .util .btn_home { padding: 10px 30px; border-radius: 30px; background: var(--main-color); color: #fff;}

/* header:active  */
#header.active { background: #fff; color: #000;}
#header.active h1 a { background: url(../images/common/logo_b.png) no-repeat center / 100%;}
#header.active .btn_ham { background: url(../images/common/ham_b.png);}


#header .depth2_bg {display: none; background: #fff; height: 60px; border-top: 1px solid rgba(0,0,0, 0.1);}
#header .gnb > li {position: relative;}

#header .gnb > li::after {transition: all 0.5s; content: ""; display: block;  width: 0; height: 3px; background: var(--main-color); margin: auto;  }
#header .gnb > li:hover::after{width: 100%; height: 3px; }

#header .gnb > li > .depth2 {display: none; position: absolute; width: 500px; }
#header .gnb > li > .depth2 li { display: inline-block; margin-top: 15px;}
#header .gnb > li > .depth2 li > a { padding: 10px 20px;}
#header .gnb > li > .depth2 li:hover a { color: var(--main-color);}


/* mgnb */
#header .mgnb_wrap { position: fixed; left: 0;top: 0; width: 100%; height: 100%; background: #fbf9f4; color: #000; display: flex; justify-content: center; align-items: center;}
#header .mgnb {display: flex; flex-wrap: wrap; width: 70%; max-width: 1000px; border-top: 2px solid var(--main-color); border-bottom: 2px solid var(--main-color);}
#header .mgnb > li { display: flex;/*  align-items: center; */ padding: 40px; width: 100%; border-bottom: 1px solid rgba(194,122,52,0.3) ; overflow: hidden;}
#header .mgnb > li > a {font-size: 3rem; width: 30%; font-weight: 700; text-transform: uppercase; }
#header .mgnb .mdepth2 {width: calc(100% -  30%); display: flex; gap: 50px; padding-top: 10px;}
#header .mgnb .mdepth2 > li { align-items: center; font-size: 2rem; opacity: 0.5;  }


#header .mgnb_wrap .mgnb_close {font-size: 0; position: absolute; right: 0; top: 0; background: #000 url(../images/common/i_close_w.svg) no-repeat center / 50%; width: 40px; height: 40px; }

@media (max-width:1200px) {
    #header { padding: 10px 0; border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
    #header h1 a { width: calc(100px * 0.7); height: calc(58px * 0.7); }
    #header .gnb {display: none;}
    #header .util .btn_home { display: none;}

    #header .mgnb { width: 100%;}
    #header .mgnb > li { display: block; }
    #header .mgnb > li > a {font-size: 2.5rem; width: 100%;}
    #header .mgnb .mdepth2 { font-size: 1.6rem; }
}

@media (max-width:770px) {
    #header .mgnb > li > a {font-size: 2rem;}
    #header .mgnb .mdepth2 { font-size: 1.4rem; gap: 20px;}
}


/* #footer */
#footer { background: #fff; padding: 100px 0; }
#footer .inner { position: relative;}
#footer .f_logo { display: flex; gap: 20px; align-items: flex-end;}
#footer address { position: absolute; right: 0;top: 0; text-align: right;}
#footer address span {display: block; color: #c27a34; font-size: 3.5rem; margin: 10px 0; font-weight: 600;}
#footer address p { opacity: 0.5;}

#footer .f_list {display: flex; gap: 5px 10px; flex-wrap: wrap; white-space: nowrap; margin-top: 30px; }
#footer .f_list p {display: inline-block; opacity: 0.5;}
#footer .f_list span { margin-left: 5px; opacity: 1; }

#footer .copy { opacity: 0.5; margin-top: 30px;}

@media (max-width:1040px) {
    #footer address { position: inherit; margin: 30px 0; text-align: left;}
}
@media (max-width:750px) {
    #footer { font-size: 1.4rem;}
}
