@charset "UTF-8";

.bg_brand { background: url(../images/sub/bg_sub1.jpg) no-repeat center / cover; padding: 300px 0 200px; color: #fff; text-align: center;}

.sub_title h2 { font-size: 8rem; font-weight: 400; font-family: var(--sub-font);}
.sub_title p { font-size: 2rem; padding-top: 50px; position: relative;}
.sub_title p::before { content: ""; display: block; width: 2px; height: 30px; background: #fff; position: absolute; left: 50%; top: 0;}

@media (max-width:1200px) {
    .sub_title h2 { font-size: 6rem; }
}
@media (max-width:770px) {
    .sub_title h2 { font-size: 4rem; }
    .sub_title p { font-size: 1.6rem; }
}

/* sub_brand  */
.sub_brand { padding: 100px 0 200px; border-bottom: 1px solid #ddd;}
.sub_brand .inner { max-width: 1440px;}
.sub_brand h3 { font-size: 4rem; padding: 0 0 100px; text-align: center;}
.sub_brand .brand_list { display: flex; justify-content: space-between; flex-wrap: wrap; gap: 20px; align-items: center;}
.sub_brand .brand_list:nth-child(even) { flex-direction: row-reverse; }

.sub_brand .bimg1 {width: 40%;}
.sub_brand .bimg2 {width: 40%;}
.sub_brand .bimg3 {width: 50%;}
.sub_brand .bimg4 {width: 30%;}
.sub_brand .brand_img img {width: 100%;}

.sub_brand .brand_txt { text-align: left;}
.sub_brand .btxt1 { width: 50%;}
.sub_brand .btxt2 { width: 50%;}
.sub_brand .btxt3 { width: 40%;}
.sub_brand .btxt4 { width: 60%;}

.sub_brand .brand_txt h5 {font-family: var(--sub-font); position: relative; font-size: 2.5rem; color: var(--main-color);}

.sub_brand .brand_txt h5::before { content: ""; display: block; width: 160px; height: 10px; position: absolute; left: -10px; bottom: 10px; background: var(--main-color); opacity: 0.3; transform: skewX(-10deg);}

.sub_brand .brand_txt h4 {font-family: var(--sub-font); font-size: 4rem; padding: 30px 0 10px; font-weight: 400;}
.sub_brand .brand_txt p { font-size: 1.8rem; color: #666; padding-top: 10px;}

@media (max-width:1200px) {    
    .sub_brand .brand_txt h4 { font-size: 3rem;}
    .sub_brand .brand_txt p { font-size: 1.6rem;}
}
@media (max-width:900px) {
    .sub_brand { padding: 50px 0}
    .sub_brand h3 { font-size: 3rem; padding: 0 0 50px; }    
    .sub_brand .brand_list:nth-child(even) { flex-direction: row;}
    .sub_brand .bimg1 {width: 100%;}
    .sub_brand .bimg2 {width: 100%;}
    .sub_brand .bimg3 {width: 100%;}
    .sub_brand .bimg4 {width: 100%;} 
    .sub_brand .btxt1 { width: 100%;}
    .sub_brand .btxt2 { width: 100%;}
    .sub_brand .btxt3 { width: 100%;}
    .sub_brand .btxt4 { width: 100%;}

    .sub_brand .brand_txt { padding-bottom: 50px;}
}
@media (max-width:770px) {
    .sub_brand h3 { font-size: 2rem;}
    .sub_brand .brand_txt h4 { font-size: 2rem;}
    .sub_brand .brand_txt p { font-size: 1.4rem;}
}



